/* Estilização para o cabeçalho*/

.cabecalho {
    size:100%;
}

.cabecalho-imagem {
    size:100%;
}

.cabecalho-menu {
    size:100%;
}

.cabecalho-menu-item {
    size:100%;
}

/* Estilização para o conteúdo */
.conteudo {
    size:100%;
}
    
/* Estilização para o conteúdo principal*/
.conteudo-principal {
    size:100%;
}

.conteudo-principal-imagem {
    size:100%;
}

.conteudo-principal-escrito {
    size:100%;
}

.conteudo-principal-escrito-titulo {
    size:100%;
}

.conteudo-principal-escrito-subtitulo {
    size:100%;
}

.conteudo-principal-escrito-botao {
    size:100%;
}

/* Estilização para o conteúdo secundário */

/* Estilização para o rodapé */